body {
  background-color: #333;
  font-family: 'Orbitron', sans-serif;
  /* モダンで機械的なGoogleフォント */
  color: #fff;
  padding: 20px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
}

button {
  padding: 15px;
  font-size: 18px;
  border: 3px solid #ccc;
  background-color: #444;
  color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[disabled] {
  background-color: #222;
  color: #888;
  cursor: not-allowed;
}

button:hover:not([disabled]) {
  background-color: #555;
}

button:active:not([disabled]) {
  background-color: #666;
}

#scoreboard {
  display: flex;
  justify-content: space-between;
}

#scoreboard p {
  background-color: #444;
  border: 3px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
}